*{
    margin: 0;
    padding: 0;
    font-family: verdana;
}


.navigasi {
    background-color: #385286;
    width: 100%;
    height: 70px;
    color: white;

    position: fixed;
}

.logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.menu {
    margin-left: 1000px;
    padding-top: 28px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: wheat;
    font-style: italic;
}

.banner {
    background-color: white;
    height: 240px;
    text-align: center;
}

.banner img{
    margin-top: 100px;
    height: 80px;
}

.banner h1 {
    margin-top: 10px;
    color: rgb(211, 146, 84);
    margin-bottom: 20px;
}

.box-graph {
    background-color: white;
    height: 950px;
    text-align: center;
}

.box-graph h3 {
    text-align: center;
    color: #385286;
}

.box-debit,.box-level1 {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 6px;
    float: left;
}

.box-level2,.box-pompa {
    margin-top: 6px;
    padding-left: 40px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 35px;
    float: left; 
}

<!--controlling-->

.banner-control {
    text-align: center;
    background-color: wheat;
    height: 400px;
    color: wheat;
}

.box-control {
    text-align: center;
    background-color: white;
    height: 400px;
    color: wheat;
}

.banner-control {
    text-align: center;
    background-color: white;
    height: 90px;
}

.banner-control img {
    margin-top: 20px;
    height: 150px;
}

.control-pic img {
    height: 120px;
    margin-bottom: 10px;
}

.banner-control h1 {
    text-align: center;
    color: rgb(211, 146, 84);
}

.banner-control h3 {
    margin-top: 10px;
    text-align: center;
    color: #385286;
    margin-bottom: 10px;
}

.box-control button {
    margin-top: 350px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    width: 150px;
    border-radius: 50px;
    border: none;
    color: aliceblue;
    background-color: #385286;
}

.box-control button:hover {
    color: wheat;
    font-style: italic;
}

.Creator {
    text-align: center;
    background-color: whitesmoke;
    height: 350px;
}

.Creator h1 {
    text-align: center;
    color: rgb(211, 146, 84);
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Creator img {
    margin-top: 30px;
    border-radius: 100px;
    height: 130px;
}

.biodata {
    color: #385286;
    font-style: bold;
}

.jeda {
    background-color: white;
    height: 50px;
}
.product-page {
    text-align: center;
    background-color: whitesmoke;
    height: 350px;
}

.product-page h1 {
    text-align: center;
    color: rgb(211, 146, 84);
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-page img {
    margin-top: 30px;
    border-radius: 100px;
    height: 130px;
}

.exp {
    margin-left: 80px;
    margin-right: 80px;
    color: #385286;
    font-style: bold;
}
